<div class="row">
    <div class="col-12">
        <div class="alert alert-danger alert-dismissable text-center small">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p class="alert-heading">Unrecognised Username or Password</p>
            <hr />
            The username or password you provided were not recognised. Please ensure you have provided the correct credentials and try again, and if
            the problem persists please go fuck yourself.
        </div>
    </div>
</div>